@use 'overrules';
@use 'fonts';

$main-color: #212353; 
$text-color: #4B5D68;
$accent-color: #F063B8;
$accent-color2: #9C69E2;

.menu_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    .menu__list {
        display: flex;
        flex-direction: row;
        font-family: fonts.$font-text;
        list-style: none;
        padding-left: 50px;
    }
    .menu_item1 {
        font-weight: 800;
        padding: 0px 40px 0px 0px;
    }
    .menu_item2, .menu_item3, .menu_item4 {
        padding-right: 50px;
    }
    a:link {
        color: $text-color;
        text-decoration: none;
    }
    a:hover {
        opacity: 0.7;
    }
    a:visited {
        color: $accent-color2; 
    }
    a:active {
        color: $accent-color;
    }
    .menu_logo_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .menu_logo {
            padding-top: 50px;
            padding-left: 40px;
            padding-right: 50px;
        }
        .menu-links {
            padding-top: 57px;
        }
    }
    .menu-button {
        padding: 45px 25px 0px 50px;
    }
}   

.button__request {
    display: flex;
    align-items: center;
    padding-left: 29px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-family: fonts.$font-text;
    font-size: 16px;
    border-style: none;
    color: $main-color; 
    width: 210px;
    height: 60px;
    .button_arrow {
        padding: 0px 0px 0px 20px;
    }
}

.button__request:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    opacity: 0.5;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    .button-learn {
        width: 170px;
        height: 60px;
        background-color: $accent-color2;
        color: #FFFFFF;
        font-family: fonts.$font-text;
        font-size: 18px;
        border-radius: 50px;
        border-style: none;
    }
    .button-learn:hover {
        opacity: 0.7;
    }
    .image_container {
        padding-top: 226px;
        padding-bottom: 99px;
    }
    .main__image {
        max-width: 100%;
        height: auto;
    }
}

.main-head {
    color: $main-color;
    font-family: fonts.$font-headings;
    font-size: 60px;
    padding-top: 130px;
}

.main-text {
    color: $text-color;
    font-family: fonts.$font-text;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 50px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .main-head {
      font-size: 30px;
    }
    .main-text {
        font-size: 16px;
    }
    .menu__list {
        margin: 10px;
    }
}

.data_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    max-width: 1100px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin: 100px auto;
    .data_image {
        padding: 40px 20px;
    }
}

.data-head {
    color: $main-color;
    font-family: fonts.$font-headings;
    font-size: 40px;
    padding-top: 80px;
    padding-right: 40px;
}

.data-text {
    color: $text-color;
    font-family: fonts.$font-text;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 90px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .data-head {
      font-size: 20px;
    }
    .data-text {
        font-size: 16px;
    }
}
.features_container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: auto;
}
.features_text_container {
    margin: auto; 
    text-align: center;
    max-width: 1100px;
    .features-head {
        color: $main-color;
        font-family: fonts.$font-headings;
        font-size: 40px;
        line-height: 42px;
    }
    .features-text {
        color: $text-color;
        font-family: fonts.$font-text;
        font-size: 18px;
        line-height: 29px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .features-head {
      font-size: 20px;
    }
}

.background_container {
    background-image: url(../images/Rectangle39.png);
}

.container_search_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.search-data-head, .hours-head, .print-head, .security-head {
    color: $main-color; 
    font-family: fonts.$font-headings;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    padding-top: 20px; 
}

.search-data-text, .hours-text, .print-text, .security-text {
    color: $text-color;
    font-family: fonts.$font-text;
    font-size: 16px;
    line-height: 20px;
}

.background_container2 {
    background-image: url(../images/Rectangle40.png);
}

.container_24hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    max-width: 1400px;
    margin: auto;
}

.container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 1400px;
    margin: auto;
}

.background_container3 {
    background-image: url(../images/Rectangle41.png);
}

.background_container4 {
    background-image: url(../images/Rectangle42.png);
}

.container_print_out, .container_security_code {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.print__image {
    padding-top: 50px;
}

.learn_more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.learn-more {
    color: $main-color;
    font-family: fonts.$font-text;
    font-size: 16px;
    padding-right: 15px;
    font-weight: 800;
}

.learn-more:link {
    text-decoration: none;
}

.learn-more:hover {
    color: $accent-color;
    text-decoration: none;
}

.learn-more:active {
    color: $accent-color2;
}

.background_container5 {
    background-color: #9C69E2;
    border-radius: 50px;
    max-width: 1100px;
    width: 100%;
    margin: auto; 
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.test__text {
    color: #FFFFFF;
    font-size: 40px;
    font-family: fonts.$font-headings;
    padding: 40px 0px 50px 40px;
}

.white_container {
    background-color: #FFFFFF;
    max-width: 645px;
    width: 100%;
    height: 330px;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    margin: auto;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .white_container {
        height: 100%;
    }
}


.white_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0px 0px 30px;
    .white-name {
        font-family: fonts.$font-text;
        font-weight: 900;
        font-size: 18px;
        color: $main-color;
    }
    .white-link:link {
        color: $accent-color2;
        font-family: fonts.$font-text;
        font-size: 16px;
        text-decoration: none;
    }
    .white__image {
        padding-right: 40px;
    }
}

.white-text {
    font-family: fonts.$font-text;
    font-size: 18px;
    color: $text-color;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .white-text {
        font-size: 16px; 
    }
    .test__text {
        font-size: 20px;
    }
}

.button-learn-pink {
    width: 170px;
    height: 60px;
    background-color: $accent-color;
    color: #FFFFFF;
    font-family: fonts.$font-text;
    font-size: 18px;
    border-radius: 50px;
    border-style: none;
    margin-right: 30px;
}

.button-learn-pink:hover {
    opacity: 0.7;
}

.last_container {
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
}

.footer_top_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    .footer_buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .footer-try-head {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
        font-family: fonts.$font-headings;
        color: $main-color;
    }
    .footer-try-offer {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        font-family: fonts.$font-text;
        color: $text-color;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .footer-try-head {
        font-size: 20px; 
    }
    .footer-try-offer {
        font-size: 16px;
    }
}

.warehouse {
    font-family: fonts.$font-text;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: $main-color;
    padding-left: 30px;
}

.adress {
    font-family: fonts.$font-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $main-color;
}

.email {
    font-family: fonts.$font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $main-color;
}

.all_rights {
    font-family: fonts.$font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $main-color;
}

.about_list, .help_list, .socials {
    font-family: fonts.$font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: $main-color;
    list-style: none;
    .list_item1 {
        padding-bottom: 25px;
        font-weight: 900;
    }
    a:link {
        text-decoration: none;
        color: $main-color;
    }
    a:hover {
        opacity: 0.7;
    }
    a:visited {
        color: $accent-color2;
    }
    a:active {
        color: $accent-color;
    }
}

.socials {
    padding-top: 15px;
    font-weight: 900;
}

.socials_list {
    list-style: none;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
}

.socials:link {
    color: $text-color;
}
.socials:hover {
    color: $accent-color2;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .main_container {
        justify-content: center;
    }

}
